@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

*{
    margin:0px;
    padding:0px;
    list-style:none;
    text-decoration:none;
}



 header{
   /* background-color: orange; */
   display: flex;
  justify-content:space-between;

 }



 .logo-container{
   display:inline-flex;
    margin-right:150px;
   justify-content: center;


   /* background-color:blue; */
 }

 #logo{

   width:50px;
   height:50px;
 }

 .navbar{
   /* background-color: green; */
   display:flex;
   align-items: center;
   margin-left: 20px;

 }

 .navbar li{
   display:inline-flex;
   margin-right:50px;
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
   /* background-color: red; */

 }

 #nav-links{

   /* background-color: yellow; */

 }

 .social-media-group{

   display:flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   margin-right: 20px;

 }

 .social-media-group img{
   width:20px;
   height:auto;
   padding-left:10px;


 }


body{
  background-color: #efefef;
}


.container-2{
  display: flex;
 justify-content:space-between;
  /* background-color: red; */
  height:100%;
  width:100%;
}

.image-header{
  display: flex;
 justify-content: flex-end;
 align-items: flex-end;
 /* background-color: green; */
}

.title-header{
 display: flex;
align-items: center;
margin-left:50px;
 /* background-color: yellow; */
}

.full-name{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.occupation{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;

}





.about{
  background-color:red;
}
