@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@1,500&display=swap');

*{
    margin:0px;
    padding:0px;
}


 .header-container{
    display: flex;
    justify-content:flex-end;
    background-color: red;
    position:fixed;
    width:100%;
 }

 @media (min-width: 410px) {
  .header-container{
    background: green;
  }
}

@media (min-width: 576px) {
  .header-container{
    background:pink;
  }
}

@media (min-width: 768px) {
  .header-container{
    background:yellow;
  }
}


@media (min-width: 992px) {
  .header-container{
    background:black;
  }
}

@media (min-width: 1200px) {
  .header-container{
    background:blue;
  }
}

 .navbar{
   display:flex;
   align-items: center;
   height:50px;
 }



 .margin-top {
   margin-top: 10px;
 }



 .navbar li{
   display:inline-flex;

   margin-right:50px;
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
 }

 @media (max-width: 768px) {
  .navbar li{
    display:none;
  }

  
}



body{
  background-color: #f4f4f2;
}


.container-2{
  display: flex;
  justify-content:space-around;
  height:750px;
  width:100%;
}

.image-header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



.title-header{
 display: flex;
align-items: center;
}

.full-name{

  font-size: 30px;
  font-family: 'Bodoni Moda', sans-serif;
  /* font-weight: 800; */
}

.occupation{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;

}

.about{

  height:500px;
  display:flex;
  background-color: #f4f4f2;

}

.navbar-footer{
  background-color: #f4f4f2;
  display:flex;
  align-items: center;
  height:100px;
  width:100%;
}

.second-container{

}
.copyright{
  margin-left: 10px;
}

.nav-links-footer li{
  display:inline-flex;
  margin-right:20px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.about-container{

/* background-color: red; */
text-align: center;

}

#me{
width:auto;
height:500px;
}

h2{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #2d2d2d;
}
.about p{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top:0;

}

.navbar-footer p{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #2d2d2d;
}

.body-1{
  width: 100%;
}

.body-2{
max-width: 1500px;
 width: 100%;
 height:auto;
 margin: 0 auto;
}

.justifythis{
  display: flex;
  justify-content: space-between;
}

.l-site-header-content {
  padding: 0 10px;
}

.l-site-header-content:first-child {
  height: 60px;
}

/*--------------------------------------------------
  Site-menu
--------------------------------------------------*/
.c-site-menu {
  position: relative;
  display: block;
  color: #FAFAFA;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.c-site-menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
}

.c-site-menu-inner {
  position: relative;
  display: block;
  width: inherit;
  height: 4px;
  background-color: #FAFAFA;
}

.c-site-menu-inner::after, .c-site-menu-inner::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #FAFAFA;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.c-site-menu-text {
  margin: 4px 0 0;
}

.c-site-menu-inner::before {
  top: -10px;
}

.c-site-menu-inner::after {
  bottom: -10px;
}

.c-site-menu.js-active .c-site-menu-inner {
  background-color: rgba(0, 0, 0, 0);
}

.c-site-menu.js-active .c-site-menu-inner::before {
  top: 0;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.c-site-menu.js-active .c-site-menu-inner::after {
  bottom: 0;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}


.l-container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.l-container.is-fluid {
  max-width: 100% !important;
}

@media (min-width: 410px) {
  .l-container {
    max-width: 395px;
  }

  
}

@media (min-width: 576px) {
  .l-container {
    max-width: 540px;
  }
 
 
}

@media (min-width: 768px) {
  .l-container {
    max-width: 720px;
  }

  .c-site-menu {
    display:none;
    }
   
  
  }


@media (min-width: 992px) {
  .l-container {
    max-width: 960px;
  }
  
}

@media (min-width: 1200px) {
  .l-container {
    max-width: 1140px;
  }
}

